
body {
  overflow-x: hidden;
}

body .container-fluid{

  width: 100vw;
  height: 100vh;
  padding: 60px 0 0;


  overflow-y: scroll;
  background-image: url("/files/bg/bg-about-1.svg");
  background-size: cover;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;

}
body .container-fluid::-webkit-scrollbar {
  width: 5px;
}

body .container-fluid::-webkit-scrollbar-track-piece {
  background-color: #FFFFFF;
}
body .container-fluid::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  width: 8px;
  background-color: #afafb6;
}


/*#####################################################
Definiendo los estilos del navbar
#####################################################*/
body header{
  width: 100%;
  margin: 0px;
  display: flex;
  position: absolute;
  z-index: 5;
}
nav.menu-navegacion {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 60px;
  position: relative;
  z-index: 10;
  display: flex;
  background: #f2f2f2;
}

nav.menu-navegacion ul.nav-lista {
  margin: 0px;
  margin-left: auto;
  margin-right: 30px;
  padding: 0;
  list-style: none;
  text-align: right;
  display: flex;
}

.nav-lista li.nav-list-item {
  display: inline-block;
  line-height: 40px;
  margin-left: 30px;

}
.nav-lista li.nav-list-item a span.material-icons{
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
  text-align: center;
  align-content: center;
  align-items: center;
  font-size: 15px;
  margin-right: 10px;
}
a.nav-link {
  display: flex;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Montserrat',sans-serif;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  color: #000000;
}
.nav-list-item a.nav-link:hover {

  border-bottom: 2px solid #2d96c8 ;
  transition-property: border-bottom-color;
  transition-duration: 0s;
}

.nav-list-item a.activo {

  margin-top: 6px;
  border-radius: 50px;
  padding: 2px 16px;
  color: #ffffff;
  background:#2d96c8;

}
.nav-list-item a.activo:hover{
  color: #ffffff;
  background:#03608a;
  border: none;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }


  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    pointer-events: auto;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.nav-lista li {
  animation: FadeIn 1s cubic-bezier(0.65, 0.05, 0.36, 1);
  animation-fill-mode: both;
}
.nav-list ali:nth-child(1) {
  animation-delay: .3s;
}

.nav-lista li:nth-child(2) {
  animation-delay: .6s;
}

.nav-lista li:nth-child(3) {
  animation-delay: .9s;
}

.nav-lista li:nth-child(4) {
  animation-delay: 1.2s;
}

.nav-lista li:nth-child(5) {
  animation-delay: 1.5s;
}

/* Animation */

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0)
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0)
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}


.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}
@media screen and (max-width: 1050px) and (min-width: 735px){
  .nav-lista li.nav-list-item{
    margin-left: 10px;
  }
  .nav-lista li{
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
    max-width: 140px;
  }
}
nav button.navbar-toggler{
  border: none;
  display: none;
  box-shadow: none;
}
nav button.navbar-toggler:focus{
  box-shadow: none;
}

@media screen and (max-width: 735px){
  body header{
    margin-top: 0px;
  }
  nav.menu-navegacion{
    flex-direction: column;
    background: none;
  }
  nav.menu-navegacion ul.nav-lista{
    flex-direction: column;
    width: 100%;
    padding: 0px;

  }
  .nav-list-item a.activo{
    background: #7390af;
    border-radius: 0px;
  }
  nav.menu-navegacion ul.inactivo{
    display: none;
  }

  .nav-lista li.nav-list-item{
    text-align: left;
    margin: 0px;
    background: #456380;
  }
  .nav-lista li.nav-list-item a{
    padding: 4px 16px;
    color: #ffffff;
  }
  .nav-lista li.nav-list-item a:hover{
    border-radius: 0px;
    background: #7390af;
  }
  nav button.navbar-toggler {
    display: inline-flex;
    height: auto;
    width: auto;
    align-items: start;
    background: #456380;
    border-radius: 0px;
    padding: 4px 16px;
    box-shadow: none;

  }

  nav button.navbar-toggler span{
    font-size: 36px;
    color: #ffffff;
  }
  nav button.navbar-toggler:active{
    border: none;
    box-shadow: none;

  }
  nav.menu-navegacion ul.activo{
    display: flex;

  }
}




/*#####################################################
Fin de los estilos del navbar
#####################################################*/

/*#####################################################
Estilos del carrusel
#####################################################*/
.container-fluid .top-acerca{
display: flex;
}
.container-fluid .top-acerca, .contenido-acerca , .bottom-acerca{

  max-width: 1320px;
  margin-right: auto;margin-left: auto;

}
.container-fluid .top-acerca {
  max-height: 580px;
}
#carruselPresentacion {
  height: 100%;
  width: 100%;
}

#hacia-arriba {
position: absolute;
  display: none;
  color: #FFFFFF;
  font-size: 20px;
  z-index: 100;
background: rgba(0,0,0,0.25);
  right: 3rem;
  bottom: 6rem;
  height: 30px;
  width: 30px;
  border-radius: 50%;
padding: 0px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#hacia-arriba.visible{
  display: flex;
}
#hacia-arriba:hover{
  background: #6c757d;
}
.carousel .carousel-inner .carousel-item {
  max-width: 1320px;
  max-height: 580px;
}
img.img-carousel {
width: 100%;
  height: 100%;
z-index: 1;
}
#filtro{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0px;
  z-index: 2;
  background: rgba(0,0,0,0.25);
}
.carousel-control-prev, .carousel-control-next {
  z-index: 3;
}

.acciones {
 background: #f5f5f5;
  padding-top: 60px;
  padding-bottom: 60px;
  font-family: 'Montserrat',sans-serif;
}
.objetivos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin-bottom: 20px;
}
.cuerpo-objetivos .title {
 color: #0a58ca;
margin: 0  0 20px 0;
  font-size: 25px;
  font-weight: 600;
}
.objetivos figure {
  width: 100%;
}
@media screen and (max-width: 735px){
  .objetivos {
    flex-direction: row;

  }
  .objetivos figure {
    width: 45%;
    margin-right: 10px;
  }
  .cuerpo-objetivos {
    width: 65%;
  }
}

.bottom-acerca {
  background:#FFFFFF ;
  padding: 70px;
  font-family: 'Montserrat',sans-serif;
}
@media screen and (max-width: 735px){
  .bottom-acerca {
    padding: 70px 50px;
  }
}
article ul{
  list-style: none;
  padding: 0px;
}

article ul time {
  color: #0a58ca;
  font-size: 12px;
}

.lista-desarrolladores li .item-desarrollador {
  display: flex;
  flex-direction: row;
}
.lista-desarrolladores li .item-desarrollador figure {
  margin-right: 10px;
}


 .seccion-ultimo, .seccion-benvenida, .seccion-desarrolladores {
  font-family: 'Montserrat',sans-serif;
   margin-bottom: 50px;
   padding: 0px 50px;

}
.seccion-ultimo h2, .seccion-benvenida h2, .seccion-desarrolladores h2{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  height: 60px;
}
@media screen and (max-width: 735px){
  .seccion-ultimo, .seccion-benvenida, .seccion-desarrolladores{
    padding: 0;
  }
}
/*Seccion ultimas noticias*/

.bottom-acerca .row article .separador-secciones {
  width: 80%;
  margin-bottom: 0px;
  margin: auto auto 0px auto;
}
.bottom-acerca .row article p {
  font-size: 13px;
}
.bottom-acerca .row p.subtitulo {
  color: #6c757d;
  font-size: 16px;
}

/*Fin Seccion ultimas noticias*/
/*#####################################################
Fin de estilos del carrusel
#####################################################*/
/*Estilos de footer
 */

.footer-acerca {
  height: 170px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #2B364F;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}
.footer-acerca .redes-sociales ul{
  list-style: none;
  display: flex;
  flex-direction: row;
}
.redes-sociales ul li .item-red-social {
  margin-right: 20px;
  font-size: 25px;
  color: #f2f2f2;

}
.redes-sociales ul li .item-red-social:hover{
  color: #FFFFFF;
}
.footer-acerca p{

  color: #f8f8f8;
  display: block;
  font-size: 12px;
}
/* Fin de es stilos de footer
 */

