
/*------------------------------------------------------
Estilos version móvil
------------------------------------------------------*/

@media screen and (max-width: 576px) {
  header.header-sitio  {
    height: auto;
    width: auto;
  }


  .msg-indicador-notificaciones {
    left: calc(50vw - 110px);
    z-index: 10000;
  }
  #layoutSidenav {
    padding: 0;
    display: flex;
    height: 100vh;
    width: 100%;
  }
  .sb-nav-fixed #layoutSidenav #layoutSidenav_nav {
    display: flex;
    height: 100vh;
  }
  #layoutSidenav.no-visible-sm{
    display: none;
  }


  #frame #sidepanel.no-visible-sm{
    display: none;
  }
  /* @-moz-document url-prefix() {
     #frame{
       height: 100vh;
     }
     .sb-nav-fixed #layoutSidenav #layoutSidenav_nav {
       height: 100vh;
     }
   }*/
  #panelTodosContactos{
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    position: fixed;
  }
  #panelTodosContactos #sidepanelTodosContactos{
    width: 100%;
  }

  #frame{
    display: flex;
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    height: 100vh;
  }

  #frame #sidepanel{
    padding-top: 10px;
    display: flex;
    overflow: hidden;
    height: 100%;
    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
  }
  #frame #sidepanel #contacts{

    padding: 0 0 30px 0;
    margin: 10px 0 0;
  }
  #espacio-temporal {
    width: 100vw;
    height: 100vh;
    z-index: 1010;
    background: #E6EAEA;

  }
  #espacio-temporal.no-visible-sm{
    display: none;
  }

  #espacio-temporal .temporal .cuerpo-temporal{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  #espacio-temporal .temporal .cuerpo-temporal hr {
    width: 80%;
  }
  .content .temporal .cuerpo-temporal img{
    width: 100%;
  }
  #espacio-de-chat.no-visible-sm{
    display: none;
  }

  #espacio-de-chat .contact-profile .chat-atras{
    display: flex;
    height: 40px;
    width: 40px;
    border-radius:50%;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
    color:#8e8e8f;
  }
  #espacio-de-chat .contact-profile .chat-atras .material-icons{
    font-size: 26px;
  }
  #espacio-de-chat .contact-profile .chat-atras:active, #espacio-de-chat .contact-profile .chat-atras:hover{
    color: #ffffff;
    background: #8e8e8f;
  }
  #espacio-de-chat .contact-profile img.img-contacto{
    margin: auto 5px auto 0;
  }
  #frame .content .contact-profile #btn-info-contacto{
    display: none;
  }
  #frame .content .contact-profile .opciones-contacto div .material-icons{
    margin: 0;
    height: auto;
    width: auto;
  }
  #frame .content .contact-profile .chat-conexion .nombre-chat {
    font-size: 1.1rem;
  }
  #frame .content .messages #lista-mensajes{
    padding: 10px;
  }
  #frame .content .contact-profile .opciones-contacto{
    margin-right: 10px;
    align-items: center;
    align-content: center;
  }

  /*estilos en imagenes enviadas*/
  #frame .content .messages ul li.enviado .contenedor-imagen-enviada, #frame .content .messages ul li.recibido .contenedor-imagen-recibida{
width: auto;
    max-width: calc(100vw - 100px);
    min-width: auto;
  }
  #frame .content .messages ul li.enviado .contenedor-imagen-enviada img, #frame .content .messages ul li.recibido .contenedor-imagen-recibida img {
    width: auto;
    max-width: 100%;
    min-width: auto;
  }

  /*fin de estilos en imagenes enviadas*/
  #frame #panelInfoContacto.mostrar{
    height: 100vh;
    display: flex;
    position: absolute;
    left: 0;
    flex-direction: column;
    background: #f2f2f2;
    border-left: 1px solid #bebebf;
    min-width: 100vw;
    width: 100vw;
    margin: 0;
  }
  #panelInfoContacto #btn-cerrar-contacto{
    height: 40px;
    width: 40px;
    color: #FFFFFF;
    margin: 10px;
    display: flex;
    position: absolute;
    z-index: 1002;
    background-color: rgba(0,0,0,0.45);
  }
  #panelInfoContacto #btn-cerrar-contacto .material-icons{
font-size: 26px;
  }
  .cont-imagenes-conversacion .imagenes-conversacion {
    justify-content: space-evenly;
  }
  .cont-imagenes-conversacion .imagenes-conversacion .item-img-conv {
    min-width: 110px;
    width: 110px;
    min-height: 110px;
    height: 110px ;
  }
  .cont-imagenes-conversacion .imagenes-conversacion .item-img-conv img {
    width: 110px;
    height: 110px ;
  }
  #espacio-de-configuracion{
    height: 100vh;
    width: 100vw;
  }
  #espacio-de-configuracion.no-visible-sm{
    display: none;
  }
  .contenedor-info-cuenta .row .card {
    display: flex;

    max-width: calc(100%);
  }
  #btn-guardar-perfil.activo{
    right: 15px;
  }
  #btn-cerrar-configuraciones.sm-visible{
    display: flex;
    align-items: center;
    justify-content: center;
top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    font-size: 35px;
    border-radius: 50%;
    position: absolute;
    color: #8e8e8f;
  }

  #btn-cerrar-configuraciones.sm-visible:active,#btn-cerrar-configuraciones.sm-visible:hover {

    background: #8e8e8f;
    color: #FFFFFF;
  }


  /* Contenedor de emojis*/
  body .wrapper {
    position: absolute;
    bottom: 1.9vh;
    left:0;
    width: 100vw;
    height: auto;
  }

  /* Vista de imagenes - Modal */

  .modal-fullscreen .modal-content .modal-header h5{
    width: calc(100% - 60px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1rem;
  }




}


/*------------------------------------------------------
Fin de estilos version móvil
------------------------------------------------------*/

/*------------------------------------------------------
Alertas de mensajes nuevos
------------------------------------------------------*/
@media screen and (max-width: 576px) {
  #vanillatoasts-container {
    max-height: 40vh !important;
    max-width: 80vw !important;
  }
  .vanillatoasts-toast {

    margin: 0 0 5px 0 !important;
  }

}