/* Error: expected "{".
 *      ,
 * 2288 |   background: linear-gradient(to bottom, rgba(255,255,255,0.17) 4%, rgba(0,0,0,0.17) 27%, rgba(0,0,0,0.17) 56%, rgba(0,0,0,0.41) 100%);gba(0,0,0,0.51) 92%);
 *      |                                                                                                                                                            ^
 *      '
 *   chat.scss 2288:156  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a      \2577 \a 2288 \2502    background: linear-gradient(to bottom, rgba(255,255,255,0.17) 4%, rgba(0,0,0,0.17) 27%, rgba(0,0,0,0.17) 56%, rgba(0,0,0,0.41) 100%);gba(0,0,0,0.51) 92%);\d\a      \2502                                                                                                                                                             ^\a      \2575 \a   chat.scss 2288:156  root stylesheet';
}
