
body .container-fluid{
  width: 100vw;
  height: 100vh;
  padding-top: 60px;
background: none;

}
.container-fluid main.main{
  width: 100%;
  height: 100%;
  background-image: url("/files/img/bg/fondo-registro.svg");
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  overflow-y: scroll;
  overflow-x: hidden;
}
.container-fluid main.main::-webkit-scrollbar {
  width: 0;               /* width of the entire scrollbar */
}

/*#####################################################
Definiendo los estilos del navbar
#####################################################*/
body header{
  width: 100%;
  margin: 0px;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 5;

}
nav.menu-navegacion {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 60px;
  position: relative;
  z-index: 10;
  display: flex;
  background: #f2f2f2;
  /* background-color: rgba(43,54,79,0.8);*/
  /* background-color: rgba(231,231,231,0.5);*/
}

nav.menu-navegacion ul.nav-lista {
  margin: 0px;
  margin-left: auto;
  margin-right: 30px;
  padding: 0;
  list-style: none;
  text-align: right;

  display: flex;

}

.nav-lista li.nav-list-item {
  display: inline-block;
  line-height: 40px;
  margin-left: 30px;

}
.nav-lista li.nav-list-item a span.material-icons{
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
  text-align: center;
  align-content: center;
  align-items: center;
  font-size: 15px;
  margin-right: 10px;
}
a.nav-link {
  display: flex;
  text-decoration: none;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  color: #000000;
}
.nav-list-item a.nav-link:hover {

  border-bottom: 2px solid #2d96c8 ;
  transition-property: border-bottom-color;
  transition-duration: 0s;
}

.nav-list-item a.activo {

  margin-top: 6px;
  border-radius: 50px;
  padding: 2px 16px;
  color: #ffffff;
  background:#2d96c8;

}
.nav-list-item a.activo:hover{
  color: #ffffff;
  background:#03608a;
  border:none;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }


  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    pointer-events: auto;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.nav-lista li {
  animation: FadeIn 1s cubic-bezier(0.65, 0.05, 0.36, 1);
  animation-fill-mode: both;
}
.nav-list ali:nth-child(1) {
  animation-delay: .3s;
}

.nav-lista li:nth-child(2) {
  animation-delay: .6s;
}

.nav-lista li:nth-child(3) {
  animation-delay: .9s;
}

.nav-lista li:nth-child(4) {
  animation-delay: 1.2s;
}

.nav-lista li:nth-child(5) {
  animation-delay: 1.5s;
}

/* Animation */

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0)
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0)
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}


.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}
@media screen and (max-width: 1050px) and (min-width: 735px){
  .nav-lista li.nav-list-item{
    margin-left: 10px;
  }
  .nav-lista li{
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
    max-width: 140px;
  }
}
nav button.navbar-toggler{
  border: none;
  display: none;
  box-shadow: none;
}
nav button.navbar-toggler:focus{
  box-shadow: none;
}

@media screen and (max-width: 735px){
  body header{
    margin-top: 0px;
  }
  nav.menu-navegacion{
    flex-direction: column;
    background: none;
  }
  nav.menu-navegacion ul.nav-lista{
    flex-direction: column;
    width: 100%;
    padding: 0px;

  }
  .nav-list-item a.activo{
    background: #7390af;
    border-radius: 0px;
  }
  nav.menu-navegacion ul.inactivo{
    display: none;
  }

  .nav-lista li.nav-list-item{
    text-align: left;
    margin: 0px;
    background: #456380;
  }
  .nav-lista li.nav-list-item a{
    padding: 4px 16px;
    color: #ffffff;
  }
  .nav-lista li.nav-list-item a:hover{
    border-radius: 0px;
    background: #7390af;
  }
  nav button.navbar-toggler {
    display: inline-flex;
    height: auto;
    width: auto;
    align-items: start;
    background: #456380;
    border-radius: 0px;
    padding: 4px 16px;
    box-shadow: none;

  }

  nav button.navbar-toggler span{
    font-size: 36px;
    color: #ffffff;
  }
  nav button.navbar-toggler:active{
    border: none;
    box-shadow: none;

  }
  nav.menu-navegacion ul.activo{
    display: flex;

  }
}




/*#####################################################
Fin de los estilos del navbar
#####################################################*/
/*-------------------------------------------------------------
Estilos para el formulario de registro
------------------------------------------------------*/
.card{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
  padding: 30px 32px 60px;
  background: rgba(0,0,0,0.65);
  border-radius: 0px;
  font-family: 'Poppins',sans-serif;
}
.card .card-header img{
  display: block;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.card .card-header{
  color: white;
  font-size:20px;
  font-weight: 600;
  margin: 0 0 35px 0;
  font-family: 'Montserrat',sans-serif;
  background: none;
  border: none;
  width: 100%;
  align-content: center;
  align-items: center;
  text-align: center;

}
.item-form{
  width: 100%;
  text-align: left;
  align-content: start;
  align-items: start;
}
.item-form span.etiqueta-input {
  color: #868580;
  text-align: left;
  align-content: start;
  align-items: start;
  height: auto;
  position: absolute;
  z-index: 5;
  margin-left:40px ;
  margin-top: 14px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;


}
@media screen and (max-width: 576px){
  span#etiquetaCumple {
    max-width: 120px;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
  }
}

div.activo span.etiqueta-input {
margin-top:-20px;
  color: #ffffff;
  font-size: 14px;
font-weight: 600;
}
div.activo .input-group input, div.activo .input-group select#gender {
  border-bottom: 3px solid #303F9F;
}

div.error span.etiqueta-input  {
  color: #D32F2F;
}
.item-form .input-group input.error{
  border-bottom: 2px solid #D32F2F;
}
.input-group select#gender.error {
  border-bottom: 2px solid #D32F2F;
}


.item-form .input-group{
  height: 45px;
  width: 100%;
  display: flex;
  border-radius: 0px;
  margin-bottom: 30px;
  background: #ffffff;

}
.item-form .input-group span.material-icons{
  margin-top: auto;
  margin-bottom: auto;
  color: #868580;

  font-size: 20px;

}

.item-form .input-group input, .item-form .input-group select{
  box-shadow: none;
  border:none;
  outline: none;
border-radius: 0px;
  height: 100%;
  width: 100%;
  background: transparent;
  margin: 0px;
  padding: 8px 10px 0 40px;
  z-index: 6;
}
.item-form .input-group input[type=date]{
  color: transparent;
}
.item-form .input-group input.valorado {
  color: #171a1d;
}

.item-form .input-group label{
  height: 100%;
  border-radius: 0px;
  background: #ffffff;
  display: flex;
  padding-left: 10px;
  position: absolute;
}
.item-form .input-group button[type=submit]{
  width: 100%;
  background: #3498db;
  border: 1px solid #2691d9;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Montserrat',sans-serif;
}
.item-form .input-group button[type=submit]:hover{
  background: #006aa9;
  border: 1px solid #006aa9;
}
.acceder-cuenta{
  font-family: 'Poppins',sans-serif;
  color: #ffffff;
}
.acceder-cuenta a{

  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}
.acceder-cuenta a:hover{
  text-decoration: underline;
}


/*
estilos para informacion de contrtaseña
*/
.info-clave-usuario {
  display: flex;
  color: white;
  flex-direction: row;
  margin-top: -25px;
  margin-bottom: 30px;
  margin-right: 10px;
  width: 100%;
  padding: 0 10px;
  font-size: 11px;
}
.info-clave-usuario .indicador-minimo {
  flex-grow: 1;
  color: #f2f2f2;
}
.info-clave-usuario #indicador-nivel-seguridad {
  color: #FFFFFF;
}
.info-clave-usuario #indicador-nivel-seguridad .fas{
  margin-right: 5px;
}
.info-clave-usuario #indicador-nivel-seguridad.debil{
  color: #dc3545;
}
.info-clave-usuario #indicador-nivel-seguridad.regular{
  color: #ffc107;
}
.info-clave-usuario #indicador-nivel-seguridad.media{
  color: #feb272;
}
.info-clave-usuario #indicador-nivel-seguridad.fuerte{
  color: #5fb70f;
}

.desplegable-recomendaciones-clave {
display: none;
  position: absolute;
  background: #FFFFFF;
z-index: 10;
  border-radius: 5px;
  font-size: 12px;
  margin-top: -10px;
  padding: 20px;
  left: 0;
  right: 0;
  margin-left: 32px;
  margin-right: 32px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.desplegable-recomendaciones-clave.visible {
  display: block;
}
.desplegable-recomendaciones-clave p {

  margin: 0px;
}
.desplegable-recomendaciones-clave p .fas {
  color: #8e8e8f;

}
.desplegable-recomendaciones-clave ul {
  list-style: none;
  padding: 5px 10px;
  margin: 0;
  line-height: 1.2;
}

  /*-------------------------------------------------------------
  Fin de estilos para el formulario de registro
  ------------------------------------------------------*/

/*
Mensjaes de errores
*/
#contenedor-mensajes{
  display: flex;
  padding: 0 12px;


}
.mensaje-error {
  width: 100%;
  background: #fe447d;
  color: #ffffff;
  font-size: 0.75rem;
  text-align: left;
  margin-bottom: 30px;
display: flex;
  align-items: center;
  padding: 10px;
}
.mensaje-error span.material-icons {
  font-size: 20px;
  margin-right: 10px;

}


/*
Fin de mensjaes de errores
*/

.swal-modal {
  font-family: 'Poppins',sans-serif;
}
